<div class="container">
	<div class="span8">
		<div class="single-question span7">
			<div class="question-header span7">
				<div class="question-left-header span5">
					<div class="question-parent">
						
					</div>
					<div class="question-title">
						<%= @question.title %>
					</div>
					<div class="question-details">
						
					</div>
				</div>
				<div class="question-right-avatar span1">
					<img src="<%= @question.user.avatar %>" alt="">
				</div>
			</div>

    
			<div class="question-body">
				<%= @question.content %>
			</div>
			<div class="question-footer">
				
			</div>
		</div>
	</div>

	<div class="span8">
		<div class="question-add-answer span7">
			<%= simple_form_for @question.answers.build  do |f| %>
        				<%= f.input :content , :as => :text ,:placeholder=>"请在这里描述您的问题" ,:input_html => { :class => 'span7' ,:rows=>"10"} %>
      				<%= f.button :submit, "发布" , :class=>"btn btn-primary"%>
       			<% end %>
		</div>
	</div>
	 <%= render 'home/user_sidebar' %>
</div>
