<div class="navbar navbar-static-top" style="margin-bottom:20px;">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="/">医学化学教学辅导互动平台</a>
                  <div class="nav-collapse">

                    <form class="navbar-search pull-right" action="/search">
                      <input type="text" class="search-query span2" placeholder="Search" name='q'/>
                    </form>
                    <ul class="nav pull-right">
                      <li class="divider-vertical">
                        <% if current_user && current_user.is_admin? %>
                          <%= link_to '管理页面', administration_manage_path %>
                        <% end %>
                      </li>
                      <li class="divider-vertical"></li>
                      <% if user_signed_in? %>
                        <li>
                        <a href="<%= notices_path %>">
                          <%if current_user.notices.unread.count > 0%>
                          <span class="badge badge-important"><%= current_user.notices.unread.count%></span></a></li>
                      <%else%>
                          <span class="badge badge-normal"><%= current_user.notices.unread.count%></span></a></li>
                      <%end%>
                      <% end -%>
                      <li class="dropdown pull-right">
                        <% if user_signed_in? %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
                        <% else %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                        <% end -%>
                        <ul class="dropdown-menu">
                          <%= render 'devise/shared/navigation' %>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
