<!DOCTYPE html>
<html>
<head>
  <title>济宁医学院-在线问答社区</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%= render "home/head" %>
<body>

<div class="container">
  <%if user_signed_in? && current_user.is_teacher?%>
  
  <div class="container" >
    <%if flash[:success]%>
      <div class="alert alert-success">
        <span><%=flash[:success]%></span>
        <button type='button' class="close" data-dismiss='close'>x</button>
      </div>
    <%end%>

    <div style='width: 70%; float:left'>
      <%= render 'questions_list' %>
    
        <div>
          <h1>给学生发送邮件</h1>
        </div>

        <%=simple_form_for Resource.new, :url => send_to_students_path do |f| %>
          <%= f.input :subject, :label => '邮件标题'%>
          <%= f.input :content, :as => 'text', :label => '邮件内容'%>
          <%= f.submit '发送'%>
        <% end %>
    
    </div>

    <div style='float:right; width: 25%' >
      <%= render 'user_sidebar' %>
    </div>
  </div>
  <% else %>
  <% if !user_signed_in? %>
  <div class="container landing-page" >
    <h1>济宁医学院问答平台</h1>
    
    <div class="btn-container">
      <div class="btn btn-success"><h1><a href="/users/sign_in">进入</a></h1></div>
    </div>
  </div>
  <% end %>
  <%end%>

</div>
</body>
</html>

