<% @to_be_teachers.each do |e| %>
  <%= e.name %> : <%= e.email %>
<%= button_to 'set_teacher', set_teacher_user_path(e), :method => :put %>
<%= button_to 'set_student', set_student_user_path(e), :method => :put %>
<% end %>


<ul>
  <% @departments.each do |d| %>
    <li><%= link_to d.name, department_path(d) %></li>
  <% end %>
</ul>
<%= link_to "添加学院", new_department_path %>

<br />
<br />
<br />

<%= button_to '初始化数据(危险)', administration_initialize_datas_path, :method => 'post'%>
